body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background: url('background.gif') no-repeat center center;
    background-size: 250px 250px;
    background-position: bottom;
}

h1 {
    color: #d81b60;
    margin-top: 50px;
}

.buttons {
    margin-top: 20px;
}

button {
    font-size: 20px;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.2s;
}

#yes {
    background-color: #4caf50;
    color: white;
}

#no {
    background-color: #f44336;
    color: white;
    position: absolute;
}

/* Новый стиль для результата после нажатия "Да" */
.result {
    position: absolute;
    bottom: 5%; /* Всё расположено внизу экрана */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
}

/* Текст теперь над картинкой, но тоже внизу */
.big-text {
    font-size: 50px;
    color: #d81b60;
    margin-bottom: 20px;
}

/* Картинка появится только после нажатия "Да" */
.full-screen {
    width: auto;
    height: 70vh; /* Занимает 70% экрана */
}
